div {
    background-color: rgb(254, 221, 180);
}
#red {
    color: red;
}
#orange {
    color: orange;
}
#yellow {
    color: rgb(205, 205, 0);
}
#green {
    color: green;
}
#blue {
    color: skyblue;
}
#purple {
    color: purple;
}
#pink {
    color: pink;
}